<div class="l-grid c-bg-colour-grey-lightest">
    <p>.grid</p>
    <div class="l-row">
        <div class="l-column l-column--6 c-bg-colour-grey-lighter">
            <p>.l-column .l-column--6</p>
        </div>

        <div class="l-column l-column--6 c-bg-colour-grey-lighter">
            <p>.l-column .l-column--6</p>
        </div>
    </div>
</div>
