<div class="grid bg-colour-grey-lightest">
    <p>.grid</p>
    <div class="grid__row">
        <div class="grid__column grid__column--6 bg-colour-grey-lighter">
            <p>.grid__column .grid__column--6</p>
        </div>
        
        <div class="grid__column grid__column--6 bg-colour-grey-lighter">
            <p>.grid__column .grid__column--6</p>
        </div>
    </div>
</div>