<div class="grid c-bg-colour-grey-lightest">
    <div class="grid__row">
        <div class="grid__column grid__column--1 c-bg-colour-grey-lighter">
            <p>1</p>
        </div>
    
        <div class="grid__column grid__column--11 grid__column--omega c-bg-colour-grey-lighter">
            <p>grid__column grid__column--11 grid__column--omega</p>
        </div>
    </div>
    
    <div class="grid__row">
        <div class="grid__column grid__column--2 c-bg-colour-grey-lighter">
            <p>grid__column--2</p>
        </div>
    
        <div class="grid__column grid__column--10 grid__column--omega c-bg-colour-grey-lighter">
            <p>grid__column grid__column--10 grid__column--omega</p>
        </div>
    </div>
    
    <div class="grid__row">
        <div class="grid__column grid__column--3 c-bg-colour-grey-lighter">
            <p>grid__column grid__column--3</p>
        </div>
    
        <div class="grid__column grid__column--9 grid__column--omega c-bg-colour-grey-lighter">
            <p>grid__column grid__column--9 grid__column--omega</p>
        </div>
    </div>
    
    <div class="grid__row">
        <div class="grid__column grid__column--4 c-bg-colour-grey-lighter">
            <p>grid__column grid__column--4</p>
        </div>
    
        <div class="grid__column grid__column--8 grid__column--omega c-bg-colour-grey-lighter">
            <p>grid__column grid__column--8 grid__column--omega</p>
        </div>
    </div>
    
    <div class="grid__row">
        <div class="grid__column grid__column--5 c-bg-colour-grey-lighter">
            <p>grid__column grid__column--5</p>
        </div>
    
        <div class="grid__column grid__column--7 grid__column--omega c-bg-colour-grey-lighter">
            <p>grid__column grid__column--7 grid__column--omega</p>
        </div>
    </div>
    
    <div class="grid__row">
        <div class="grid__column grid__column--6 c-bg-colour-grey-lighter">
            <p>grid__column grid__column--6</p>
        </div>
    
        <div class="grid__column grid__column--6 grid__column--omega c-bg-colour-grey-lighter">
            <p>grid__column grid__column--6 grid__column--omega</p>
        </div>
    </div>
</div>