<div class="l-grid c-bg-colour-grey-lightest">
    <div class="l-row">
        <div class="l-column l-column--1 c-bg-colour-grey-lighter">
            <p>1</p>
        </div>

        <div class="l-column l-column--11 l-column--omega c-bg-colour-grey-lighter">
            <p>l-column l-column--11 l-column--omega</p>
        </div>
    </div>

    <div class="l-row">
        <div class="l-column l-column--2 c-bg-colour-grey-lighter">
            <p>l-column--2</p>
        </div>

        <div class="l-column l-column--10 l-column--omega c-bg-colour-grey-lighter">
            <p>l-column l-column--10 l-column--omega</p>
        </div>
    </div>

    <div class="l-row">
        <div class="l-column l-column--3 c-bg-colour-grey-lighter">
            <p>l-column l-column--3</p>
        </div>

        <div class="l-column l-column--9 l-column--omega c-bg-colour-grey-lighter">
            <p>l-column l-column--9 l-column--omega</p>
        </div>
    </div>

    <div class="l-row">
        <div class="l-column l-column--4 c-bg-colour-grey-lighter">
            <p>l-column l-column--4</p>
        </div>

        <div class="l-column l-column--8 l-column--omega c-bg-colour-grey-lighter">
            <p>l-column l-column--8 l-column--omega</p>
        </div>
    </div>

    <div class="l-row">
        <div class="l-column l-column--5 c-bg-colour-grey-lighter">
            <p>l-column l-column--5</p>
        </div>

        <div class="l-column l-column--7 l-column--omega c-bg-colour-grey-lighter">
            <p>l-column l-column--7 l-column--omega</p>
        </div>
    </div>

    <div class="l-row">
        <div class="l-column l-column--6 c-bg-colour-grey-lighter">
            <p>l-column l-column--6</p>
        </div>

        <div class="l-column l-column--6 l-column--omega c-bg-colour-grey-lighter">
            <p>l-column l-column--6 l-column--omega</p>
        </div>
    </div>
</div>
