<div class="grid bg-colour-grey-lightest">
    <div class="grid__row">
        <div class="grid__column grid__column--4 bg-colour-grey-lighter">
            <p>grid__column grid__column--4</p>
        </div>
        
        <div class="grid__column grid__column--8 bg-colour-grey-lighter">
            <p>grid__column grid__column--8</p>
            
            <div class="grid__nest grid__nest--4-of-8 bg-colour-grey-light">
                <p>grid__nest grid__nest--4-of-8</p>
            </div>
            
            <div class="grid__nest grid__nest--4-of-8 bg-colour-grey-light">
                <p>grid__nest grid__nest--4-of-8</p>
            </div>
        </div>
    </div>
</div>
