<div class="l-grid c-bg-colour-grey-lightest">
    <div class="l-row">
        <div class="l-column l-column--4 c-bg-colour-grey-lighter">
            <p>l-column l-column--4</p>
        </div>

        <div class="l-column l-column--8 c-bg-colour-grey-lighter">
            <p>l-column l-column--8</p>

            <div class="l-nest l-nest--4-of-8 c-bg-colour-grey-light">
                <p>l-nest l-nest--4-of-8</p>
            </div>

            <div class="l-nest l-nest--4-of-8 c-bg-colour-grey-light">
                <p>l-nest l-nest--4-of-8</p>
            </div>
        </div>
    </div>
</div>
