<div class="l-grid c-bg-colour-grey-lightest">
    <div class="l-row">
        <div class="l-column l-column--6 l-shift--3 c-bg-colour-grey-lighter">
            <p>.l-column .l-column--6 .l-shift--3</p>
        </div>
    </div>
</div>
