<div class="l-grid c-bg-colour-grey-lightest">
    <div class="l-row l-row--table l-row--fill-parent">
        <div class="l-column--4 l-column--pad c-bg-colour-grey-lighter">
            <p>l-column--4 l-column--pad</p>
        </div>

        <div class="l-column--8  l-column--reset-display l-column--pad c-bg-colour-grey-lighter">
            <p>l-column--8 l-column--reset-display l-column--pad</p>
        </div>
    </div>
</div>
