// Colours
// -------

// Local Palette
$cape-code: rgb(63, 80, 76);
$wild-watermelon: rgb(255, 81, 115);
$fire-bush: rgb(237, 160, 52);
$bitter-lemon: rgb(198, 225, 0);
$cerulean: rgb(36, 165, 212);

// Neutral Colours
$gray: #55595c;
$white: #fff;
$black: #000;

// Gary Colours
$gray-dark: darken($gray, 10);
$gray-light: lighten($gray, 20);
$gray-lighter: lighten($gray, 40);
$gray-lightest: lighten($gray, 60);

// Secondary Colours
$primary-color: $cerulean !default;
$sucess-color: $bitter-lemon !default;
$warning-color: $fire-bush !default;
$danger-color: $wild-watermelon !default;
$info-color: $cerulean !default;

// Social Brand Colours
$twitter-color: #00b4f3;
$facebook-color: #3c569a;
$google-plus-color: #df4a32;
$instagram-color: #211f20;
$rss-color: #f16522;

$colors: ('cape-code', $cape-code), ('wild-watermelon', $wild-watermelon),
         ('fire-bush', $fire-bush), ('bitter-lemon', $bitter-lemon),
         ('cerulean', $cerulean), ('gray', $gray), ('white', $white),
         ('black', $black), ('gray-black', $gray-dark),
         ('gray-light', $gray-light), ('gray-lighter, '$gray-lighter),
         ('gray-lightest', $gray-lightest), ('primary-color', $primary-color),
         ('sucess-color', $sucess-color), ('warning-color', $warning-color),
         ('danger-color', $danger-color), ('instagram-color', $instagram-color),
         ('twitter-color', $twitter-color), ('info-color', $info-color),
         ('facebook-color', $facebook-color), ('rss-color', $rss-color),
         ('google-plus-color', $google-plus-color);

// UI Colours

// Typography
// ----------
$font-family-serif: 'Bree Serif', serif !default;
$font-family-sans-serif: 'Source Sans Pro', sans-serif !default;
$font-family-monospace: monospace !default;

$font-family-serif-os-default: Georgia, "URW Bookman L", serif;
$font-family-san-serif-os-default: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

$font-faimly-primary: $font-family-sans-serif !default;
$font-family-secondary: $font-family-serif !default;
