---
title: Colours
---

<h2>Local Palette</h2>

<div class="colours">
	<div class="color bg-cape-code">
		<code>$cape-code</code>
	</div>
	<div class="color bg-wild-watermelon">
		<code>$wild-watermelon</code>
	</div>
	<div class="color bg-fire-bush">
		<code>$fire-bush</code>
	</div>
	<div class="color bg-bitter-lemon">
		<code>$bitter-lemon</code>
	</div>
	<div class="color bg-cerulean">
		<code>$cerulean</code>
	</div>
</div>
