<div class="page-header">
    <h1>Components</h1>
</div>

<div class="section section-navigation">
    <h3>Navigation</h3>
    <div class="component">
        {{> components_navigation }}
    </div>
</div>
