<h1>Old Fashioned</h1>

<div class="section section-colours">
    <h2>Colours</h2>

    {{> colours }}
</div>

<div class="section section-components">
    <h2>Components</h2>
    
    <div class="component">
        <h3>Navigation</h3>
        
        {{> navigation }}
    </div>
</div>
