<h1>Old Fashioned</h1>

<div class="section section-typography">
    <h2>Typography</h2>
    
    {{> 01_typography }}
</div>

<div class="section section-colours">
    <h2>Colours</h2>

    {{> 02_colours }}
</div>

<div class="section section-components">
    <h2>Components</h2>
    
    <div class="component">
        <h3>Navigation</h3>
        
        {{> 03_navigation }}
    </div>
</div>
