<blockquote class="blockquote">
    <p>Ultricies at metus dictum vulputate a a a in magna vitae id nisi feugiat adipiscing cras aliquet gravida in potenti malesuada maecenas vestibulum venenatis adipiscing.</p>
    <p class="blockquote__footer"><cite>Lorem Ipsum</cite></p>
</blockquote>

<blockquote class="blockquote blockquote__reverse">
    <p>Ultricies at metus dictum vulputate a a a in magna vitae id nisi feugiat adipiscing cras aliquet gravida in potenti malesuada maecenas vestibulum venenatis adipiscing.</p>
    <p class="blockquote__footer"><cite>Lorem Ipsum</cite></p>
</blockquote>
