<blockquote class="blockquote">
    <p>{{ quoteText }}</p>
    <p class="blockquote__footer">{{& quoteSource }}</p>
</blockquote>

<blockquote class="blockquote blockquote__reverse">
    <p>{{ quoteText }}</p>
    <p class="blockquote__footer">{{& quoteSource }}</p>
</blockquote>
