<p class="c-alert">
    <strong class="c-alert__title">Default Alert</strong>
    <span class="c-alert__copy">This is a default alert.</span>
    <a class="c-alert__link" href="javascript:void(0)">Link</a>
</p>

<div class="c-alert c-alert--error">
    <h2 class="c-alert__title">Error Alert</h2>
    <p class="c-alert__copy">This is an error alert.</p>
    <a class="c-alert__link" href="javascript:void(0)">Link</a>
</div>

<p class="c-alert c-alert--notice">
    <strong class="c-alert__title">Notice Alert</strong>
    <span class="c-alert__copy">This is a notice alert.</span>
    <a class="c-alert__link" href="javascript:void(0)">Link</a>
</p>

<p class="c-alert c-alert--sucess">
    <strong class="c-alert__title">Sucess Alert</strong>
    <span class="c-alert__copy">This is a sucess alert.</span>
    <a class="c-alert__link" href="javascript:void(0)">Link</a>
</p>
