<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Old Fashioned {{#if title}}| {{ title }}{{/if}}</title>
		<link rel="stylesheet" href="{{assets}}/docs.css">
    </head>
    <body>
        {{> body }}
    </body>
</html>