<footer class="footer" role="contentinfo">
    <div class="logo">
        <a href="javascript:void(0)" class="logo" title="Old Fashioned">
            <img src="https://placekitten.com/500/500?image=1" />
        </a>
    </div>
    
    <div class="links">
        <ul>
            <li><a href="javascript:void(0)">One</a></li>
            <li><a href="javascript:void(0)">Two</a></li>
            <li><a href="javascript:void(0)">Three</a></li>
        </ul>
        
        <ul>
            <li><a href="javascript:void(0)">Four</a></li>
            <li><a href="javascript:void(0)">Five</a></li>
            <li><a href="javascript:void(0)">Six</a></li>
        </ul>
        
        <ul>
            <li><a href="javascript:void(0)">Seven</a></li>
            <li><a href="javascript:void(0)">Eight</a></li>
            <li><a href="javascript:void(0)">Nine</a></li>
        </ul>
    </div>
    
    <hr/>
    
    <p>Made by <a href="http://mylesbraithwaite.com/">Myles Braithwaite</a> with <img class="heart" src="https://placekitten.com/200/200?image=1" /> in Toronto.</p>
</footer>