<ul class="sg-colors">
    <li>
        <span class="sg-swatch bg-colour-cape-code"></span>
        <span class="sg-label">
            <code>$cape-code</code> <br />
            <code>rgb(63, 80, 76)</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-wild-watermelon"></span>
        <span class="sg-label">
            <code>$wild-watermelon</code> <br />
            <code>rgb(255, 81, 115)</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-fire-bush"></span>
        <span class="sg-label">
            <code>$fire-bush</code> <br />
            <code>rgb(237, 160, 52)</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-bitter-lemon"></span>
        <span class="sg-label">
            <code>$bitter-lemon</code> <br />
            <code>rgb(198, 225, 0)</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-cerulean"></span>
        <span class="sg-label">
            <code>$cerulean</code> <br />
            <code>rgb(36, 165, 212)</code>
        </span>
    </li>
</ul>
