<ul class="sg-colors">
    <li>
		<span class="sg-swatch bg-colour-white"></span>
		<span class="sg-label">
            <code>$color-white</code> <br />
            <code>#fff</code>
        </span>
    </li>
    
    <li>
		<span class="sg-swatch bg-colour-grey-lightest"></span>
		<span class="sg-label">
            <code>$colour-grey-lightest</code>
        </span>
    </li>
    
    <li>
		<span class="sg-swatch bg-colour-grey-lighter"></span>
		<span class="sg-label">
            <code>$colour-grey-lighter</code>
        </span>
    </li>
    
    <li>
		<span class="sg-swatch bg-colour-grey-light"></span>
		<span class="sg-label">
            <code>$colour-grey-light</code>
        </span>
    </li>
    
    <li>
		<span class="sg-swatch bg-colour-grey"></span>
		<span class="sg-label">
            <code>$colour-grey</code> <br/>
            <code>#55595c</code>
        </span>
    </li>
    
    <li>
		<span class="sg-swatch bg-colour-grey-dark"></span>
		<span class="sg-label">
            <code>$colour-grey-dark</code>
        </span>
    </li>
    
    <li>
        <span class="sg-swatch bg-colour-black"></span>
        <span class="sg-label">
            <code>$colour-black</code> <br/>
            <code>#000</code>
        </span>
    </li>
</ul>
