<ul class="sg-colors">
    <li>
        <span class="sg-swatch bg-colour-utility-alert"></span>
        <span class="sg-label">
            <code>$colour-utility-alert</code>
        </span>
    </li>
    
    <li>
        <span class="sg-swatch bg-colour-utility-error"></span>
        <span class="sg-label">
            <code>$colour-utility-error</code>
        </span>
    </li>
    
    <li>
        <span class="sg-swatch bg-colour-utility-notice"></span>
        <span class="sg-label">
            <code>$colour-utility-notice</code>
        </span>
    </li>
    
    <li>
        <span class="sg-swatch bg-colour-utility-sucess"></span>
        <span class="sg-label">
            <code>$colour-utility-sucess</code>
        </span>
    </li>
</ul>
