<ul class="sg-colors">
    <li>
        <span class="sg-swatch bg-colour-corp-facebook"></span>
        <span class="sg-label">
            <code>$colour-corp-facebook</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-corp-twitter"></span>
        <span class="sg-label">
            <code>$colour-corp-twitter</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-corp-google-plus"></span>
        <span class="sg-label">
            <code>$colour-corp-google-plus</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-corp-linkedin"></span>
        <span class="sg-label">
            <code>$colour-corp-linkedin</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-corp-pinterest"></span>
        <span class="sg-label">
            <code>$colour-corp-pinterest</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-corp-tumblr"></span>
        <span class="sg-label">
            <code>$colour-corp-tumblr</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-corp-youtube"></span>
        <span class="sg-label">
            <code>$colour-corp-youtube</code>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-colour-corp-instagram"></span>
        <span class="sg-label">
            <code>$colour-corp-instagram</code>
        </span>
    </li>
</ul>
