<div class="font-family-base">
    The quick brown fox jumps over the lazy dog.
</div>

<div class="font-family-base">
    <em>The quick brown fox jumps over the lazy dog.</em>
</div>

<div class="font-family-base">
    <strong>The quick brown fox jumps over the lazy dog.</strong>
</div>

<div class="font-family-sans-serif">
    Sans Serif font: "Proxima Nova", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
</div>

<div class="font-family-sans-serif">
    <em>Sans Serif font italic: "Proxima Nova", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;</em>
</div>

<div class="font-family-sans-serif">
    <strong>Sans Serif font bold: "Proxima Nova", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;</strong>
</div>

<div class="font-family-serif">
    Serif font: "Baskerville", "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
</div>

<div class="font-family-serif">
    <em>Serif font italic: "Baskerville", "Libre Baskerville", Georgia, "Times New Roman", Times, serif;</em>
</div>

<div class="font-family-serif">
    <strong>Serif font bold: "Baskerville", "Libre Baskerville", Georgia, "Times New Roman", Times, serif;</strong>
</div>

<div class="font-family-monospace">
    Monospace font: "Hack", Menlo, Monaco, Consolas, "Courier New", monospace;
</div>

<div class="font-family-monospace">
    <em>Serif font italic: "Hack", Menlo, Monaco, Consolas, "Courier New", monospace;</em>
</div>

<div class="font-family-monospace">
    <strong>Serif font bold: "Hack", Menlo, Monaco, Consolas, "Courier New", monospace;</strong>
</div>

<div class="font-family-slab">
    Slab font: "Sigmar One";
</div>
