@mixin button-size($padding-y, $padding-x, $border-radius) {
  padding: $padding-y $padding-x;
  @include border-radius($border-radius);
}

@mixin button-variant($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  border-color: $border;
  box-shadow: $button-box-shadow;

  @include hover {
    background-color: $active-background;
    border-color: $active-border;
    color: $color;
  }

  &:focus,
  &.focus {
    background-color: $active-background;
    border-color: $active-border;
    color: $color;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: $active-background;
    // Remove the gradient for the pressed/active state
    background-image: none;
    border-color: $active-border;
    box-shadow: $button-active-box-shadow;
    color: $color;

    &:hover,
    &:focus,
    &.focus {
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
      color: $color;
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }

    // scss-lint:disable DeclarationOrder
    @include hover {
      background-color: $background;
      border-color: $border;
    }
  }
}

@mixin button-outline-variant($color) {
  background-color: transparent;
  background-image: none;
  border-color: $color;
  color: $color;

  @include hover {
    background-color: $color;
    border-color: $color;
    color: $colour-white;
  }

  &:focus,
  &.focus {
    background-color: $color;
    border-color: $color;
    color: $colour-white;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: $color;
    border-color: $color;
    color: $colour-white;

    &:hover,
    &:focus,
    &.focus {
      background-color: darken($color, 17%);
      border-color: darken($color, 25%);
      color: $colour-white;
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      border-color: lighten($color, 20%);
    }

    // scss-lint:disable DeclarationOrder
    @include hover {
      border-color: lighten($color, 20%);
    }
  }
}
