<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{#if title}}{{ title }} | {{/if}}Old Fashioned</title>
		<link rel="stylesheet" href="{{assets}}/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header class="col-md-3 col-lg-2">
                    <h1 class="heading-6">
                        <a href="/index.html" class="brand">
                            Old Fashioned
                        </a>
                    </h1>
                    
                    <nav role="navigation">
                        {{> sidebar }}
                    </nav>
                </header>
                
                <article class="col-md-9 col-lg-10 col-shift-md-3 col-shift-lg-2 bg-gray-lightest">
                    <section class="bg-white">
                        {{> body }}
                    </section>
                </article>
            </div>
        </div>
    </body>
</html>