body {
  background-color: $body-background;
  color: $body-colour;
	font-family: $font-family-base;
	-webkit-text-size-adjust: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  margin: 0;
  padding: 0;
}
