// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}

// Inline code
$code-padding-y: $spacer-y / 2 !default;
$code-padding-x: $spacer-x / 2 !default;
$code-font-size: 90% !default;
$code-colour: #bd4147 !default;
$code-bg: #f7f7f9 !default;

$kbd-colour: #fff !default;
$kbd-bg: #333 !default;
$kbd-box-shadow: inset 0 -.1rem 0 $trans-black-25 !default;

code {
  @include border-radius($border-radius);

  background-color: $code-bg;
  color: $code-colour;
  font-size: $code-font-size;
  padding: $code-padding-y $code-padding-x;
}

kbd {
  @include border-radius($border-radius-sm);

  background-color: $kbd-bg;
  box-shadow: $kbd-box-shadow;
  color: $kbd-colour;
  font-size: $code-font-size;
  padding: $code-padding-y $code-padding-x;

  kbd {
    box-shadow: none;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
  }
}

// Block of code
$pre-colour: $colour-grey-dark !default;
$pre-scrollable-max-height: 340px !default;

pre {
  color: $pre-colour;
  display: block;
  font-size: $code-font-size;
  margin-bottom: 1rem;
  margin-top: 0;

  // Account for some code outputs that place code tags in pre tags
  code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
  }

  @at-root #{&}--scrollable {
    max-height: $pre-scrollable-max-height;
    overflow-y: scroll;
  }
}
