$form-field-background-colour: $colour-white;
$form-field-border-colour: $colour-grey-lighter;
$form-field-colour: $body-colour;

%form-field {
  background-color: $form-field-background-colour;
  border: 1px solid $form-field-border-colour;
  color: $form-field-colour;
  font-family: inherit;
  line-height: $line-height-base;
  padding: $spacer-x $spacer-y;

  &:disabled {
    opacity: .3;
  }

  @at-root #{&}--small {
    font-size: $font-size-sm;
    padding: ($spacer-y / 2) ($spacer-x / 2);
  }
}

// Input
.form-input {
  @extend %form-field;
  
  // @at-root #{&}--text {}
  // @at-root #{&}--range {}
  // @at-root #{&}--email {}
}

// Textarea
.form-textarea {
  @extend %form-field;
}

// Select
.form-select {
  @extend %form-field;
}

// Fieldset
$fieldset-responses: (
  alert: darken($colour-utility-alert, 50%),
  erorr: darken($colour-utility-error, 50%),
  notice: darken($colour-utility-notice, 50%),
  success: darken($colour-utility-sucess, 50%)
);

.form-fieldset {
  display: block;
  margin-top: $spacer;

  @each $response, $colour in $fieldset-responses {
    @at-root #{&}--#{$response} {
      .form-feedback,
      .form-label {
        color: $colour;
      }

      .form-text-input,
      .form-textarea,
      .form-select {
        border-color: $colour;
      }
    }
  }
}

// Form Feedback
.form-feedback {
  display: block;
  font-size: $font-size-sm;
  margin-top: $spacer-x;
}

// Form Label
$form-label-required-colour: darken($colour-utility-error, 50%);
$form-label-optional-colour: darken($colour-utility-notice, 25%);

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: $spacer-y;

  @at-root #{&}--small {
    font-size: $font-size-sm;
  }

  @at-root #{&}__required {
    color: $form-label-required-colour;
    font-weight: normal;
  }

  @at-root #{&}__optional {
    color: $form-label-optional-colour;
    font-weight: normal;
  }
}
