// Headings
// --------
%headings {
  color: $headings-colour;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  margin-bottom: $headings-margin-bottom;
  margin-top: $headings-margin-top;
}

// Heading 1
%heading-one {
  @extend %headings;

  font-size: $font-size-heading-one;
}

h1,
.heading-one {
  @extend %heading-one;
  @include font-families;
}

// Heading 2
%heading-two {
  @extend %headings;

  font-size: $font-size-heading-two;
}

h2,
.heading-two {
  @extend %heading-two;
  @include font-families;
}

// Heading 3
%heading-three {
  @extend %headings;
  font-size: $font-size-heading-three;
}

h3,
.heading-three {
  @extend %heading-three;
  @include font-families;
}

// Heading 4
%heading-four {
  @extend %headings;

  font-size: $font-size-heading-four;
}

h4,
.heading-four {
  @extend %heading-four;
  @include font-families;
}

// Heading 5
%heading-five {
  @extend %headings;

  font-size: $font-size-heading-five;
}

h5,
.heading-five {
  @extend %heading-five;
  @include font-families;
}

// Heading 6
%heading-six {
  @extend %headings;

  font-size: $font-size-heading-six;
}

h6,
.heading-six {
  @extend %heading-six;
  @include font-families;
}

// Display
// -------
%displays {
  color: $display-colour;
  font-family: $display-font-family;
  line-height: $display-line-height;
  margin-bottom: $display-margin-bottom;
  margin-top: $display-margin-top;
}

// Display 1
%display-one {
  @extend %displays;

  font-size: $font-size-display-one;
  font-weight: $font-weight-display-one;
}

.display-one {
  @extend %display-one;
  @include font-families;
}

// Display Two
%display-two {
  @extend %displays;

  font-size: $font-size-display-two;
  font-weight: $font-weight-display-two;
}

.display-two {
  @extend %display-two;
  @include font-families;
}

// Display Three
%display-three {
  @extend %displays;

  font-size: $font-size-display-three;
  font-weight: $font-weight-display-three;
}

.display-three {
  @extend %display-three;
  @include font-families;
}

// Display Four
%display-four {
  @extend %displays;

  font-size: $font-size-display-four;
  font-weight: $font-weight-display-four;
}

.display-four {
  @extend %display-four;
  @include font-families;
}
