a {
  @include transition($link-transition);

  color: $link-colour;
  text-decoration: $link-decoration;

  &:active,
  &:focus,
  &:hover {
    color: $link-hover-colour;
    text-decoration: $link-hover-decoration;
  }
}
