// Paragraph
p,
.paragraph {
  margin: 0 0 ($spacer / 2);
}

// Horizontal Rule
hr,
.horizontal-rule {
  background-color: $colour-grey-lighter;
  border: 0;
  height: 2px;
}

// Emphasis
small,
.small {
  font-size: 80%;
  font-weight: normal;
}

mark,
.mark {
  background-color: $colour-utility-alert;
  padding: .2em;
}

// Lists
.list {
  @at-root #{&}--unstyled {
    @include list-unstyled;
  }

  @at-root #{&}--inline {
    @include list-unstyled;
  }
}

.list-item--inline {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

// Addreviation
addr,
.addreviation {
  border-bottom: 1px dotted $colour-grey;
  cursor: help;
  text-decoration: none;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquote
.blockquote {
  border-left: .25rem solid $colour-grey;
  font-size: ($font-size-base * 1.25);
  margin-bottom: $spacer;
  padding: ($spacer / 2) $spacer;

  @at-root #{&}__footer {
    color: $colour-grey;
    display: block;
    font-size: 80%;

    &::before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }

  @at-root #{&}__reverse {
    border-left: 0;
    border-right: .25rem solid $colour-grey;
    padding-left: 0;
    padding-right: $spacer;
    text-align: right;

    // scss-lint:disable SelectorFormat
    .blockquote__footer::before {
      content: '';
    }

    .blockquote_footer::after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
    // scss-lint:enable SelectorFormat
  }
}
