<svg height="40" width="40" class="c-svg-colour-cape-code" xmlns="http://www.w3.org/2000/svg">
    <circle cx="20" cy="20" r="15"></circle>
</svg>

<svg height="40" width="40" class="c-svg-colour-wild-watermelon" xmlns="http://www.w3.org/2000/svg">
    <circle cx="20" cy="20" r="15"></circle>
</svg>

<svg height="40" width="40" class="c-svg-colour-fire-bush" xmlns="http://www.w3.org/2000/svg">
    <circle cx="20" cy="20" r="15"></circle>
</svg>

<svg height="40" width="40" class="c-svg-colour-bitter-lemon" xmlns="http://www.w3.org/2000/svg">
    <circle cx="20" cy="20" r="15"></circle>
</svg>

<svg height="40" width="40" class="c-svg-colour-cerulean" xmlns="http://www.w3.org/2000/svg">
    <circle cx="20" cy="20" r="15"></circle>
</svg>
