.font-families {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);

  > .font-family {
    @include align-items(center);
  }

  .font-family {
    @extend %bg-gray-lightest;

    border: 1px solid $gray-lighter;
    border-radius: 5px;
    height: 10rem;
    margin: .5em;
    padding: .5em;
    width: 20%;
  }

  h6 {
    margin: 0;
  }

  p {
    @extend %truncate;

    margin: 0;
    padding: 0;
  }

  .font-family-sans-serif p {
    @extend %font-family-sans-serif;
  }

  .font-family-serif p {
    @extend %font-family-serif;
  }

  .font-family-slab p {
    @extend %font-family-slab;
  }

  .font-family-monospace p {
    @extend %font-family-monospace;
  }
}
