$article-meta-text-color: $gray !default;

.article {
  @at-root #{&}--columns {
    @extend %row;
  }
}

// Header
// ======
.article__header {
  @at-root #{&}--column {
    @include span-columns(6);
    margin-top: 24px;
  }

  @at-root #{&}--border-top {
    border-top: .5rem solid $black;
  }

  @at-root #{&}--border-bottom {
    border-bottom: 1px solid $black;
  }
}

// Title
// -----
.article__title {
  @extend %heading-1;

  @at-root #{&}--size-xl {
    @extend %display-1;
  }

  @at-root #{&}---size-lg {
    @extend %display-2;
  }
}

// Subtitle
// --------
.article__subtitle {
  @extend %lead;
  line-height: $paragraph-line-height;
}

// Meta
// ----
.article__meta {
  @extend %paragraph;
  color: $article-meta-text-color;
}

// Feature Block
// =============
.article__feature_block {
  @at-root #{&}--full {
    max-width: 100vw;
  }
}

.article__feature_image {
  max-width: 100%;
}

.article__feature_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

// Content
// =======
.article__content {
  @at-root #{&}--column {
    @include span-columns(6);
  }
}

// Footer
// ======
.article__footer {
  @extend %lead;
}
