.navigation {
  $navigation-height: 60px;
  $navigation-padding: 1em;
  $navigation-background-color: $primary-color;

  background-color: $navigation-background-color;
  border-bottom: 1px solid darken($navigation-background-color, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;

    position: relative;
    z-index: 9999;
  }

  .brand {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }
}
