<button class="button {{ btnClass }}">{{ btnText }}</button>

<button class="button button--colour-cape-code">{{ btnText }}</button>

<button class="button button--colour-wild-watermelon">{{ btnText }}</button>

<button class="button button--colour-fire-bush">{{ btnText }}</button>

<button class="button button--colour-bitter-lemon">{{ btnText }}</button>

<button class="button button--colour-cerulean">{{ btnText }}</button>

<button class="button button--colour-grey">{{ btnText }}</button>

<button class="button button--colour-white">{{ btnText }}</button>

<button class="button button--colour-black">{{ btnText }}</button>

<button class="button button--colour-grey-dark">{{ btnText }}</button>

<button class="button button--colour-grey-light">{{ btnText }}</button>

<button class="button button--colour-grey-lighter">{{ btnText }}</button>

<button class="button button--colour-grey-lightest">{{ btnText }}</button>

<button class="button button--colour-utility-alert">{{ btnText }}</button>

<button class="button button--colour-utility-error">{{ btnText }}</button>

<button class="button button--colour-utility-notice">{{ btnText }}</button>

<button class="button button--colour-utility-sucess">{{ btnText }}</button>

<button class="button button--colour-primary">{{ btnText }}</button>
