<a href="#" class="button button--link {{ btnClass }}">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-cape-code">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-wild-watermelon">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-fire-bush">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-bitter-lemon">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-cerulean">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-grey">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-white">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-black">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-grey-dark">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-grey-light">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-grey-lighter">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-grey-lightest">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-utility-alert">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-utility-error">{{ btnText }}</a>

<a href="#" class="button button--link button--colour-utility-notice">{{ btnText }}</a>

<a href="#" class="button button--colour-utility-sucess button--link">{{ btnText }}</a>

<a href="#" class="button button--colour-primary button--link">{{ btnText }}</a>
