---
title: Type
---

<div class="page-header">
    <h1>Type</h1>
</div>

<div class="component component-type component-type-headings">
    <h2>Headings</h2>
    
    <h1>Heading 1 - <code>%heading-1</code></h1>

    <h2>Heading 2 - <code>%heading-2</code></h2>

    <h3>Heading 3 - <code>%heading-3</code></h3>

    <h4>Heading 4 - <code>%heading-4</code></h4>

    <h5>Heading 5 - <code>%heading-5</code></h5>

    <h6>Heading 6 - <code>%heading-6</code></h6>

    <h3>Lead Paragraph</h3>
    
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis varius turpis eget gravida. Ut viverra eu mi ut dapibus.</p>
</div>

<div class="component component-type component-type-display">
    <h2>Display</h2>
    
    <p class="display-1">Dispaly 1 - <code>%display-1</code></p>
    
    <p class="display-2">Dispaly 2 - <code>%display-2</code></p>
    
    <p class="display-3">Dispaly 3 - <code>%display-3</code></p>
    
    <p class="display-4">Dispaly 4 - <code>%display-4</code></p>
</div>

<div class="component component-type component-type-type-horizontal-rules">
    <h2>Horizontal Rules</h2>
    
    <hr/>
</div>

<div class="component component-type component-type-alignment">
    <h2>Alignment</h2>
    
    <p class="text-left"><code>%text-left</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
    <p class="text-center"><code>%text-center</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
    <p class="text-right"><code>%text-right</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
    <p class="text-justify"><code>%text-justify</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
    <p class="nowrap"><code>%nowrap</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis varius turpis eget gravida. Ut viverra eu mi ut dapibus.</p>
    
    <p class="truncate"><code>%truncate</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis varius turpis eget gravida. Ut viverra eu mi ut dapibus.</p>
    
    <p class="decoration-none"><code>%decoration-none</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
    <p class="decoration-underline"><code>%decoration-underline</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
    <p class="decoration-line-through"><code>%decoration-line-through</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<div class="component component-type component-type-emphasis">
    <h2>Emphasis</h2>
    
    <p><code>%regular</code> <span class="regular">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit.</p>
    
    <p><code>%strong</code> <span class="strong">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit.</p>
    
    <p><code>%italic</code> <span class="italic">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit.</p>
    
    <p><code>%del</code> <del>Lorem ipsum</del> dolor sit amet, consectetur adipiscing elit.</p>
    
    <p><code>%ins</code> <ins>Lorem ipsum</ins> dolor sit amet, consectetur adipiscing elit.</p>
    
    <p><code>%small</code> <span class="small">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit.</p>
    
    <p><code>%mark</code> <span class="mark yellow">Yellow</span> <span class="mark blue">Blue</span> <span class="mark pink">Pink</span> <span class="mark green">Green</span> <span class="mark orange">Orange</span></p>
</div>
