<div class="pagination">
    <ul>
        <li class="page-next">
            <a href="#" class="active" rel="next">
                Next
            </a>
        </li>
        
        <li>
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#" class="active">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </li>
        
        <li class="page-prev">
            <a href="#" class="active" rel="prev">
                Previous
            </a>
        </li>
    </ul>
</div>
