---
title: Basic Footer
scss_file: components/footer/_style.scss
---

<div class="footer footer--center">
	<img src="{{assets}}images/heart.svg" class="footer__logo javascript__svg_injector">
	
	<p class="footer__copyright">
		&copy; 2016 <a href="#" class="footer__link">Myles Braithwaite</a>, All Rights Reserved
	</p>
	
	<ul class="menu-list footer__menu-list">
		<li class="menu-list__item">
			<a href="#" class="menu-list__link footer__link">
				Home
			</a>
		</li>
		
		<li class="menu-list__item">
			<a href="#" class="menu-list__link footer__link">
				About
			</a>
		</li>
		
		<li class="menu-list__item">
			<a href="#" class="menu-list__link footer__link">
				Projects
			</a>
		</li>
	</ul>
</div>
