<p class="text-left">
	text-left
</p>

<p class="text-center">
	text-center
</p>

<p class="text-right">
	text-right
</p>

<p class="text-justify">
	text-justify
</p>

<p class="truncate">
	truncate: Lorem ipsum dolor sit amet, sea veri maluisset corrumpit ei, id sea mutat facilisi cotidieque, eos dico copiosae conclusionemque ut. Elit idque vocibus id sed. Illud persecuti nec cu, pro debet iisque tibique id. Per eu utroque eloquentiam reformidans, idque scripta repudiare est an. An sonet tempor mei.
</p>

<p><span class="decoration-none">decoration-none</span> <span class="decoration-underline">decoration-underline</span> <span class="decoration-line-through">decoration-line-through</span></p>