<ul>
    <li class="regular">regular</li>
    <li class="strong">strong</li>
    <li class="italic">italic</li>
    <li class="del">del</li>
    <li class="ins">ins</li>
    <li class="small">small</li>
</ul>

<ul>
    <li><span class="mark">.mark</span></li>
    <li><span class="mark yellow">.mark.yellow</span></li>
    <li><span class="mark blue">.mark.blue</span></li>
    <li><span class="mark pink">.mark.pink</span></li>
    <li><span class="mark green">.mark.green</span></li>
    <li><span class="mark orange">.mark.orange</span></li>
</ul>