<p class="font-family-sans-serif">
	Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
	vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam
	quis risus eget urna mollis ornare vel eu leo.
</p>

<p class="font-family-serif">
	Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
	vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam
	quis risus eget urna mollis ornare vel eu leo.
</p>

<p class="font-family-slab">
	Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
	vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam
	quis risus eget urna mollis ornare vel eu leo.
</p>

<p class="font-family-monospace">
	Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
	vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam
	quis risus eget urna mollis ornare vel eu leo.
</p>