<form>
    <label class="form-label">Add your website</label>
    <label class="form-label form-label--small">Add your website</label>
    <label class="form-label">Add your website <span class="form-label__required">*</span></label>
    <label class="form-label">What is your phone number? <span class="form-label__optional">(optional)</span></label>
</form>
