<form>
    <fieldset class="form-fieldset">
        <label for="id_input_text">Text Input</label>
        <input class="form-input form-input--text" id="text" type="text" placeholder="Text Input" id="id_input_text">
    </fieldset>

    <input class="form-input form-input--small form-input--text" id="text" type="text" placeholder="Text Input">
</form>
