<form>
    <input class="form-text-input" id="text" type="text" placeholder="Text Input">
    <input class="form-text-input form-text-input--small" id="text" type="text" placeholder="Text Input">
</form>
