<input type="checkbox" checked="checked" class="form-input form-input--checkbox" id="id_checkbox_1" /> <label for="id_checkbox_1">Checkbox One</label>

<input type="checkbox" checked="checked" class="form-input form-input--checkbox" id="id_checkbox_2" /> <label for="id_checkbox_2">Checkbox Two</label>

<input type="checkbox" checked="checked" class="form-input form-input--checkbox" id="id_checkbox_3" /> <label for="id_checkbox_3">Checkbox Three</label>

<input type="checkbox" checked="checked" class="form-input form-input--checkbox" id="id_checkbox_4" /> <label for="id_checkbox_4">Checkbox Four</label>
