$map-colours: (
  colour-cape-code: $colour-cape-code,
  colour-wild-watermelon: $colour-wild-watermelon,
  colour-fire-bush: $colour-fire-bush,
  colour-bitter-lemon: $colour-bitter-lemon,
  colour-cerulean: $colour-cerulean,

  colour-grey: $colour-grey,
  colour-white: $colour-white,
  colour-black: $colour-black,

  colour-grey-dark: $colour-grey-dark,
  colour-grey-light: $colour-grey-light,
  colour-grey-lighter: $colour-grey-lighter,
  colour-grey-lightest: $colour-grey-lightest,

  colour-utility-alert: $colour-utility-alert,
  colour-utility-error: $colour-utility-error,
  colour-utility-notice: $colour-utility-notice,
  colour-utility-sucess: $colour-utility-sucess,

  colour-corp-facebook: $colour-corp-facebook,
  colour-corp-twitter: $colour-corp-twitter,
  colour-corp-google-plus: $colour-corp-google-plus,
  colour-corp-linkedin: $colour-corp-linkedin,
  colour-corp-pinterest: $colour-corp-pinterest,
  colour-corp-tumblr: $colour-corp-tumblr,
  colour-corp-youtube: $colour-corp-youtube,
  colour-corp-instagram: $colour-corp-instagram,
  colour-corp-github: $colour-corp-github,
  colour-corp-hacker-news: $colour-corp-hacker-news,
  colour-corp-ibm: $colour-corp-ibm,
  colour-corp-vine: $colour-corp-vine,
  colour-corp-snapchat: $colour-corp-snapchat,

  colour-primary: $colour-primary
);
