@import 'old-fashioned-full';

@import 'components/colours';
@import 'components/typography';

header {
  @include padding(1em .5em);

  overflow: auto;
  position: fixed;
}

article {
  @include padding(.5em 1em);
}

section {
  @include padding(.5em 1em);
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);

  border: 1px solid $black;
}
